version: '3.9'
services:
  postgres:
    image: postgres:15
    restart: always
    container_name: fueleu-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fueleu
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
